@model SalesInformationSystem.Models.Customer

@{
    ViewData["Title"] = "MyProfile";
}

<h1>My Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerId" class="btn btn-md btn-primary" >Edit</a> 

</div>
