@model SalesInformationSystem.Models.QuotationItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuotationItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quotation.QuotationId)
        </dd>
    </dl>
</div>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuotationItemId" class="btn btn-md btn-success">Edit</a> 
    <a asp-action="Index" class="btn btn-md btn-primary">Back to List</a>
</div>
